* {
background-image: none;
}
window {
    background-color: rgba(12, 12, 12, 0);
}
button {
    color: #FFFFFF;
    background-color: #22262f;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:active, button:hover {
    background-color: #4c566a;
    border-color: #FFFFFF;
    outline-style: none;
}

#lock {
background-image: image(url("icons/lock-solid.png"), url("icons/lock-solid.png"));
}
#shutdown {
background-image: image(url("icons/power-off-solid.png"), url("icons/power-off-solid.png"));
}

#suspend{
background-image: image(url("icons/moon-solid.png"), url("icons/moon-solid.png"));
}

#reboot {
background-image: image(url("icons/rotate-right-solid.png"), url("icons/rotate-right-solid.png"));
}
